{% include 'common/header.html' %}
{% include 'common/nav.html' %}
{% csrf_token %}
<style>
    .removeRow {
        cursor: pointer;
    }
</style>
<div class="main-content">
    <div class="container my-3">
        <div style="background-color: #cad4c8; padding: 20px;">
            <h3>Total</h3>
            <!-- Total table -->
            <table class="table">
                <!-- Table headers -->
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Total hours permitted</th>
                        <th>Total hours allocated</th>
                        <th>Total left</th>
                        <th>No Projects</th>
                    </tr>
                </thead>
                <!-- Table body -->
                <tbody>
                    <tr>
                        <td>{{staff_name}}</td>
                        <td>{{staff_permitt_hours}}</td>
                        <td id="totalHoursAllocated">{{staff_total_hours}}</td>
                        <td id="totalHoursLeft">{{staff_total_hours_left}}</td>
                        <td id="noProjects">{{staff_total_no_project_hours}}</td>
                    </tr>
                </tbody>
            </table>
            <!-- Total Courses table -->
            <h3>Total Courses</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>HS</th>
                        <th>Share</th>
                        <th>Total hours</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Total</td>
                        <td id="totalShare">{{ courses_shares }}</td>
                        <td id="totalHours">{{ courses_hours }}</td>
                    </tr>
                    <tr>
                        <td>HS1</td>
                        <td id="hs1Share">{{ courses_hs1_shares }}</td>
                        <td id="hs1Hours">{{ courses_hs1_hours }}</td>
                    </tr>
                    <tr>
                        <td>HS2</td>
                        <td id="hs2Share">{{ courses_hs2_shares }}</td>
                        <td id="hs2Hours">{{ courses_hs2_hours }}</td>
                    </tr>
                    <tr>
                        <td>HS3</td>
                        <td id="hs3Share">{{ courses_hs3_shares }}</td>
                        <td id="hs3Hours">{{ courses_hs3_hours }}</td>
                    </tr>                    
                </tbody>
            </table>
            <!-- Total Project table -->
            <h3>Total Project</h3>
            <table class="table" style="max-width: 300px;">
                <tbody>
                    <tr>
                        <td>Total hours:</td>
                        <td id="totalProjectHours">{{ projects_hours }}</td>
                    </tr>
                </tbody>
            </table>
            <!-- Total Admin table -->
            <h3>Total Admin</h3>
            <table class="table" style="max-width: 300px;">
                <tbody>
                    <tr>
                        <td>Total hours:</td>
                        <td id="totalAdminHours">{{ admin_roles_hours }}</td>
                    </tr>
                </tbody>
            </table>
            <!-- Total School table -->
            <h3>Total School</h3>
            <table class="table" style="max-width: 300px;">
                <tbody>
                    <tr>
                        <td>Total hours:</td>
                        <td id="totalSchoolHours">{{ school_roles_hours }}</td>
                    </tr>
                </tbody>
            </table>
            <!-- Total Uni table -->
            <h3>Total Uni</h3>
            <table class="table" style="max-width: 300px;">
                <tbody>
                    <tr>
                        <td>Total hours:</td>
                        <td id="totalUniHours">{{ uni_roles_hours }}</td>
                    </tr>
                </tbody>
            </table>
            </div>


        <br>

       <!-- Courses table -->
        <h3>Courses</h3>
        <table id="totalTeachingTable" class="table">
            <thead>
                <tr>
                    <th>Course</th>
                    <th>HS</th>
                    <th>Credits</th>
                    <th>Alpha</th>
                    <th>Beta</th>
                    <th>Num. Students</th>
                    <th>Delta</th>
                    <th>Share</th>
                    <th>Coordinator</th>
                    <th>Total hours</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for course in courses %}
                <tr>
                    <td><input type="text" class="courseName" value="{{ course.course_name }}"></td>
                    <td class="hs">{{ course.hs }}</td>
                    <td><input type="text" class="credits" value="{{ course.credits }}"></td>
                    <td><input type="text" class="alpha" value="{{ course.alpha }}"></td>
                    <td><input type="text" class="beta" value="{{ course.beta }}"></td>
                    <td><input type="text" class="numStudents" value="{{ course.num_students }}"></td>
                    <td><input type="text" class="delta" value="{{ course.delta }}"></td>
                    <td><input type="text" class="share" value="{{ course.share }}"></td>
                    <td><input type="text" class="coordinator" value="{{ course.coordinator }}"></td>
                    <td><input type="text" class="totalHours" value="{{ course.total_hours }}"></td>
                    <td><a class="removeRow">Remove</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button id="addNewOneTotalTeaching">Add New One</button>
        <br><br>
        <!-- Project table -->
        <h3>Project</h3>
        <table id="totalProjectTable" class="table">
            <thead>
                <tr>
                    <th>Project</th>
                    <th>Credits</th>
                    <th>Alpha</th>
                    <th>Beta</th>
                    <th>Num groups/students</th>
                    <th>Delta</th>
                    <th>Share</th>
                    <th>Coordinator</th>
                    <th>Total hours</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for project in projects %}
                <tr>
                    <td><input type="text" class="projectName" value="{{ project.project_name }}"></td>
                    <td><input type="text" class="credits" value="{{ project.credits }}"></td>
                    <td><input type="text" class="alpha" value="{{ project.alpha }}"></td>
                    <td><input type="text" class="beta" value="{{ project.beta }}"></td>
                    <td><input type="text" class="numGroupsStudents" value="{{ project.num_students }}"></td>
                    <td><input type="text" class="delta" value="{{ project.delta }}"></td>
                    <td><input type="text" class="share" value="{{ project.share }}"></td>
                    <td><input type="text" class="coordinator" value="{{ project.coordinator }}"></td>
                    <td><input type="text" class="totalHours" value="{{ project.total_hours }}"></td>
                    <td><a class="removeRow">Remove</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button id="addNewOneTotalProject">Add New One</button>
        <br><br>
        <!-- Admin table -->
        <h3>Admin</h3>
        <table id="totalAdminTable" class="table">
            <thead>
                <tr>
                    <th>Role</th>
                    <th>Credits</th>
                    <th>Alpha</th>
                    <th>Beta</th>
                    <th>Num groups/students</th>
                    <th>Delta</th>
                    <th>Share</th>
                    <th>Coordinator</th>
                    <th>Total hours</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for admin_role in admin_roles %}
                <tr>
                    <td><input type="text" class="role" value="{{ admin_role.role_name }}"></td>
                    <td><input type="text" class="credits" value="{{ admin_role.credits }}"></td>
                    <td><input type="text" class="alpha" value="{{ admin_role.alpha }}"></td>
                    <td><input type="text" class="beta" value="{{ admin_role.beta }}"></td>
                    <td><input type="text" class="numGroupsStudents" value="{{ admin_role.num_students }}"></td>
                    <td><input type="text" class="delta" value="{{ admin_role.delta }}"></td>
                    <td><input type="text" class="share" value="{{ admin_role.share }}"></td>
                    <td><input type="text" class="coordinator" value="{{ admin_role.coordinator }}"></td>
                    <td><input type="text" class="totalHours" value="{{ admin_role.total_hours }}"></td>
                    <td><a class="removeRow">Remove</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button id="addNewOneTotalAdmin">Add New One</button>
        <br>
        <br>
        <!-- School table -->
        <h3>School</h3>
        <table id="schoolTable" class="table">
            <thead>
                <tr>
                    <th>Role</th>
                    <th>Credits</th>
                    <th>Alpha</th>
                    <th>Beta</th>
                    <th>Num groups/students</th>
                    <th>Delta</th>
                    <th>Share</th>
                    <th>Coordinator</th>
                    <th>Total hours</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for school_role in school_roles %}
                <tr>
                    <td><input type="text" class="role" value="{{ school_role.role_name }}"></td>
                    <td><input type="text" class="credits" value="{{ school_role.credits }}"></td>
                    <td><input type="text" class="alpha" value="{{ school_role.alpha }}"></td>
                    <td><input type="text" class="beta" value="{{ school_role.beta }}"></td>
                    <td><input type="text" class="numGroupsStudents" value="{{ school_role.num_students }}"></td>
                    <td><input type="text" class="delta" value="{{ school_role.delta }}"></td>
                    <td><input type="text" class="share" value="{{ school_role.share }}"></td>
                    <td><input type="text" class="coordinator" value="{{ school_role.coordinator }}"></td>
                    <td><input type="text" class="totalHours" value="{{ school_role.total_hours }}"></td>
                    <td><a class="removeRow">Remove</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button id="addNewOneSchool">Add New One</button>
        <br>
        <br>

        <!-- Uni table -->
        <h3>Uni</h3>
        <table id="uniTable" class="table">
            <thead>
                <tr>
                    <th>Role</th>
                    <th>Credits</th>
                    <th>Alpha</th>
                    <th>Beta</th>
                    <th>Num groups/students</th>
                    <th>Delta</th>
                    <th>Share</th>
                    <th>Coordinator</th>
                    <th>Total hours</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for uni_role in uni_roles %}
                <tr>
                    <td><input type="text" class="role" value="{{ uni_role.role_name }}"></td>
                    <td><input type="text" class="credits" value="{{ uni_role.credits }}"></td>
                    <td><input type="text" class="alpha" value="{{ uni_role.alpha }}"></td>
                    <td><input type="text" class="beta" value="{{ uni_role.beta }}"></td>
                    <td><input type="text" class="numGroupsStudents" value="{{ uni_role.num_students }}"></td>
                    <td><input type="text" class="delta" value="{{ uni_role.delta }}"></td>
                    <td><input type="text" class="share" value="{{ uni_role.share }}"></td>
                    <td><input type="text" class="coordinator" value="{{ uni_role.coordinator }}"></td>
                    <td><input type="text" class="totalHours" value="{{ uni_role.total_hours }}"></td>
                    <td><a class="removeRow">Remove</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button id="addNewOneUni">Add New One</button>
        <br>
        <br>

        <br>
        <br>

        <button id="saveButton" class="btn btn-success">Save</button>&nbsp;
        <a href="/staffvModules/" class="btn btn-success">Return to staffvModules List</a>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        // Add New One button click event for Total Teaching table
        $("#addNewOneTotalTeaching").on("click", function () {
            var newRowHtml = `
                <tr>
                    <td><input type="text" class="courseName"></td>
                    <td class="hs">HS1</td>
                    <td><input type="text" class="credits"></td>
                    <td><input type="text" class="alpha"></td>
                    <td><input type="text" class="beta"></td>
                    <td><input type="text" class="numStudents"></td>
                    <td><input type="text" class="delta"></td>
                    <td><input type="text" class="share"></td>
                    <td><input type="text" class="coordinator"></td>
                    <td><input type="text" class="totalHours"></td>
                    <td><a class="removeRow">Remove</a></td>
                </tr>
            `;
            $("#totalTeachingTable tbody").append(newRowHtml);
        });

        // Add New One button click event for Total Project table
        $("#addNewOneTotalProject").on("click", function () {
            var newRowHtml = `
                <tr>
                    <td><input type="text" class="projectName"></td>
                    <td><input type="text" class="credits"></td>
                    <td><input type="text" class="alpha"></td>
                    <td><input type="text" class="beta"></td>
                    <td><input type="text" class="numGroupsStudents"></td>
                    <td><input type="text" class="delta"></td>
                    <td><input type="text" class="share"></td>
                    <td><input type="text" class="coordinator"></td>
                    <td><input type="text" class="totalHours"></td>
                    <td><a class="removeRow">Remove</a></td>
                </tr>
            `;
            $("#totalProjectTable tbody").append(newRowHtml);
        });

        // Add New One button click event for Total Admin table
        $("#addNewOneTotalAdmin").on("click", function () {
            var newRowHtml = `
                <tr>
                    <td><input type="text" class="role"></td>
                    <td><input type="text" class="credits"></td>
                    <td><input type="text" class="alpha"></td>
                    <td><input type="text" class="beta"></td>
                    <td><input type="text" class="numGroupsStudents"></td>
                    <td><input type="text" class="delta"></td>
                    <td><input type="text" class="share"></td>
                    <td><input type="text" class="coordinator"></td>
                    <td><input type="text" class="totalHours"></td>
                    <td><a class="removeRow">Remove</a></td>
                </tr>
            `;
            $("#totalAdminTable tbody").append(newRowHtml);
        });

        // Add New One button click event for School table
        $("#addNewOneSchool").on("click", function () {
            var newRowHtml = `
                <tr>
                    <td><input type="text" class="role"></td>
                    <td><input type="text" class="credits"></td>
                    <td><input type="text" class="alpha"></td>
                    <td><input type="text" class="beta"></td>
                    <td><input type="text" class="numGroupsStudents"></td>
                    <td><input type="text" class="delta"></td>
                    <td><input type="text" class="share"></td>
                    <td><input type="text" class="coordinator"></td>
                    <td><input type="text" class="totalHours"></td>
                    <td><a class="removeRow">Remove</a></td>
                </tr>
            `;
            $("#schoolTable tbody").append(newRowHtml);
        });

        // Add New One button click event for Uni table
        $("#addNewOneUni").on("click", function () {
            var newRowHtml = `
                <tr>
                    <td><input type="text" class="role"></td>
                    <td><input type="text" class="credits"></td>
                    <td><input type="text" class="alpha"></td>
                    <td><input type="text" class="beta"></td>
                    <td><input type="text" class="numGroupsStudents"></td>
                    <td><input type="text" class="delta"></td>
                    <td><input type="text" class="share"></td>
                    <td><input type="text" class="coordinator"></td>
                    <td><input type="text" class="totalHours"></td>
                    <td><a class="removeRow">Remove</a></td>
                </tr>
            `;
            $("#uniTable tbody").append(newRowHtml);
        });

        // Remove button click event
        $(document).on("click", ".removeRow", function () {
            $(this).closest("tr").remove();
        });

        // Save button click event
        $("#saveButton").on("click", function () {
            var jsonData = {
                "staff_id": 1,
                "course": {},
                "project": {},
                "adminrole": {},
                "school": {},
                "uni": {}
            };

            // Extract Total Teaching data
            var totalTeachingData = [];
            $("#totalTeachingTable tbody tr").each(function () {
                var courseName = $(this).find(".courseName").val();
                var hs = $(this).find(".hs").text();
                var credits = $(this).find(".credits").val();
                var alpha = $(this).find(".alpha").val();
                var beta = $(this).find(".beta").val();
                var numStudents = $(this).find(".numStudents").val();
                var delta = $(this).find(".delta").val();
                var share = $(this).find(".share").val();
                var coordinator = $(this).find(".coordinator").val();
                var totalHours = $(this).find(".totalHours").val();

                var totalTeachingItem = {
                    "courseName": courseName,
                    "hs": hs,
                    "credits": credits,
                    "alpha": alpha,
                    "beta": beta,
                    "numStudents": numStudents,
                    "delta": delta,
                    "share": share,
                    "coordinator": coordinator,
                    "totalHours": totalHours
                };

                totalTeachingData.push(totalTeachingItem);
            });

            // Extract Total Project data
            var totalProjectData = [];
            $("#totalProjectTable tbody tr").each(function () {
                var projectName = $(this).find(".projectName").val();
                var credits = $(this).find(".credits").val();
                var alpha = $(this).find(".alpha").val();
                var beta = $(this).find(".beta").val();
                var numGroupsStudents = $(this).find(".numGroupsStudents").val();
                var delta = $(this).find(".delta").val();
                var share = $(this).find(".share").val();
                var coordinator = $(this).find(".coordinator").val();
                var totalHours = $(this).find(".totalHours").val();

                var totalProjectItem = {
                    "projectName": projectName,
                    "credits": credits,
                    "alpha": alpha,
                    "beta": beta,
                    "numGroupsStudents": numGroupsStudents,
                    "delta": delta,
                    "share": share,
                    "coordinator": coordinator,
                    "totalHours": totalHours
                };

                totalProjectData.push(totalProjectItem);
            });

            // Extract Total Admin data
            var totalAdminData = [];
            $("#totalAdminTable tbody tr").each(function () {
                var role = $(this).find(".role").val();
                var credits = $(this).find(".credits").val();
                var alpha = $(this).find(".alpha").val();
                var beta = $(this).find(".beta").val();
                var numGroupsStudents = $(this).find(".numGroupsStudents").val();
                var delta = $(this).find(".delta").val();
                var share = $(this).find(".share").val();
                var coordinator = $(this).find(".coordinator").val();
                var totalHours = $(this).find(".totalHours").val();

                var totalAdminItem = {
                    "role": role,
                    "credits": credits,
                    "alpha": alpha,
                    "beta": beta,
                    "numGroupsStudents": numGroupsStudents,
                    "delta": delta,
                    "share": share,
                    "coordinator": coordinator,
                    "totalHours": totalHours
                };

                totalAdminData.push(totalAdminItem);
            });

            // Extract School data
            var schoolData = [];
            $("#schoolTable tbody tr").each(function () {
                var role = $(this).find(".role").val();
                var credits = $(this).find(".credits").val();
                var alpha = $(this).find(".alpha").val();
                var beta = $(this).find(".beta").val();
                var numGroupsStudents = $(this).find(".numGroupsStudents").val();
                var delta = $(this).find(".delta").val();
                var share = $(this).find(".share").val();
                var coordinator = $(this).find(".coordinator").val();
                var totalHours = $(this).find(".totalHours").val();

                var schoolItem = {
                    "role": role,
                    "credits": credits,
                    "alpha": alpha,
                    "beta": beta,
                    "numGroupsStudents": numGroupsStudents,
                    "delta": delta,
                    "share": share,
                    "coordinator": coordinator,
                    "totalHours": totalHours
                };

                schoolData.push(schoolItem);
            });

            // Extract Uni data
            var uniData = [];
            $("#uniTable tbody tr").each(function () {
                var role = $(this).find(".role").val();
                var credits = $(this).find(".credits").val();
                var alpha = $(this).find(".alpha").val();
                var beta = $(this).find(".beta").val();
                var numGroupsStudents = $(this).find(".numGroupsStudents").val();
                var delta = $(this).find(".delta").val();
                var share = $(this).find(".share").val();
                var coordinator = $(this).find(".coordinator").val();
                var totalHours = $(this).find(".totalHours").val();

                var uniItem = {
                    "role": role,
                    "credits": credits,
                    "alpha": alpha,
                    "beta": beta,
                    "numGroupsStudents": numGroupsStudents,
                    "delta": delta,
                    "share": share,
                    "coordinator": coordinator,
                    "totalHours": totalHours
                };

                uniData.push(uniItem);
            });

            // Assign extracted data to jsonData
            jsonData.course = totalTeachingData;
            jsonData.project = totalProjectData;
            jsonData.adminrole = totalAdminData;
            jsonData.school = schoolData;
            jsonData.uni = uniData;

            // Convert JSON object to string
            var jsonStr = JSON.stringify(jsonData);
            
            const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

            // 发送POST请求
            fetch('', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken  // 添加CSRF令牌到头部
                },
                body: jsonStr
            })
            .then(response => {
                if (response.ok) {
                    alert('Data saved successfully.');
                } else {
                    alert('Failed to save data.Please delete empty lines');
                }
            })
            .catch(error => {
                alert('Error: ' + error);
            });
        });
    });
</script>

