{% include 'common/header.html' %}
{% include 'common/nav.html' %}
<div class="main-content">
    <div class="container my-3">
        <div class="alert alert-warning mt-3" role="alert">
            Click me to view the full screen version <a href="/staffvModules/full/">here</a>
        </div>
        <ul class="nav nav-tabs nav-fill justify-content-start" id="myTabs" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link  fw-bold" href="/staffvModules/" role="tab" aria-controls="courses" aria-selected="true">Courses</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link  fw-bold" href="/staffvModules/project" role="tab" aria-controls="projects" aria-selected="true">Projects</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link fw-bold" href="/staffvModules/adminRole" role="tab" aria-controls="adminRoles" aria-selected="false">Admin Roles</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link fw-bold" href="/staffvModules/schoolRole" role="tab" aria-controls="schoolRoles" aria-selected="false">School Roles</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link fw-bold" href="/staffvModules/uniRole" role="tab" aria-controls="uniRoles" aria-selected="false">Uni Roles</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link active fw-bold" href="/staffvModules/hstotal" role="tab" aria-controls="hs1total" aria-selected="hs1total">HS and Total</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabsContent">
            <div class="tab-pane fade show active" id="courses" role="tabpanel" aria-labelledby="coursesTab">              
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="col-1">name</th>
                            <th class="col-1">HS1</th>
                            <th class="col-1">HS2</th>
                            <th class="col-1">HS3</th>
                            <th class="col-2">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for staff in staffs %}
                        <tr>
                            <td>{{ staff.first_name }} {{ staff.last_name }}</td>
                            <td>{{ staff.hs1_share }}</td>
                            <td>{{ staff.hs2_share }}</td>
                            <td>{{ staff.hs3_share }}</td>
                            <td>{{ staff.hs_total_share }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="row my-3">
                    <div class="col-12 col-md-6">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-end">
                                {% if staffs.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ staffs.previous_page_number }}" tabindex="-1" aria-disabled="true">Previous</a>
                                </li>
                                {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                                </li>
                                {% endif %}
                                
                                {% for num in staffs.paginator.page_range %}
                                {% if num == staffs.number %}
                                <li class="page-item active" aria-current="page">
                                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                                </li>
                                {% else %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                                </li>
                                {% endif %}
                                {% endfor %}
                                
                                {% if staffs.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ staffs.next_page_number }}">Next</a>
                                </li>
                                {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" href="#">Next</a>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
                
            </div>
            <div class="tab-pane fade" id="projects" role="tabpanel" aria-labelledby="projectsTab">
                
            </div>
            <div class="tab-pane fade" id="adminRoles" role="tabpanel" aria-labelledby="adminRolesTab">
                  
            </div>
            <div class="tab-pane fade" id="schoolRoles" role="tabpanel" aria-labelledby="schoolRolesTab">
                
            </div>
            <div class="tab-pane fade" id="uniRoles" role="tabpanel" aria-labelledby="uniRolesTab">
                
            </div>
        </div>
    </div>
</div>


<!-- Include the necessary JavaScript code -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var searchInput = document.getElementById('searchInput');
        var searchButton = document.getElementById('searchButton');

        searchButton.addEventListener('click', function() {
            var query = searchInput.value;
            var url = '/staffvModules/?query=' + encodeURIComponent(query);
            window.location.href = url;
        });
    });
</script>
