{% include 'common/header.html' %}
{% include 'common/nav.html' %}
<div class="main-content">
    <div class="container my-3">
        <h2>Add New course</h2>
        <form action="/staffvModules/add/" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="code">Code:</label>
                <input type="text" class="form-control" id="code" name="code">
            </div>
            <div class="form-group">
                <label for="linked_courses">Linked courses:</label>
                <input type="text" class="form-control" id="linked_courses" name="linked_courses">
            </div>
            <div class="form-group">
                <label for="unlinked_relatives">Unlinked relatives:</label>
                <input type="text" class="form-control" id="unlinked_relatives" name="unlinked_relatives">
            </div>
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" name="name">
            </div>
            <div class="form-group">
                <label for="est_num_students">Est. Num Students:</label>
                <input type="number" class="form-control" id="est_num_students" name="est_num_students">
            </div>
            <div class="form-group">
                <label for="hours">Hours:</label>
                <input type="number" class="form-control" id="hours" name="hours">
            </div>
            <div class="form-group">
                <label for="type">Type:</label>
                <select class="form-control" id="type" name="type">
                    <option value="Standard classroom based">Standard classroom based</option>
                    <option value="Standard computer lab based">Standard computer lab based</option>
                </select>
            </div>
            <div class="form-group">
                <label for="type">HS:</label>
                <select class="form-control" id="type" name="type">
                    <option value="HS1">HS1</option>
                    <option value="HS2">HS2</option>
                    <option value="HS3">HS3</option>
                </select>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Add</button>
            <a href="/staffvModules/" class="btn btn-primary">Return to staffvModules List</a>
        </form>
    </div>
</div>
