{% include 'common/header.html' %}
{% include 'common/nav.html' %}
<div class="main-content">
    <div class="container my-3">
        <h2>Edit uniRole</h2>
        <form action="/staffvModules/uniRole/edit/{{ uniRole.id }}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" name="name" value="{{ uniRole.name }}">
            </div>
            <div class="form-group">
                <label for="hours">Hours:</label>
                <input type="number" class="form-control" id="hours" name="hours" value="{{ uniRole.hours }}">
            </div>
            <div class="form-group">
                <label for="crit">Crit:</label>
                <input type="text" class="form-control" id="crit" name="crit" value="{{ uniRole.crit }}">
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Update</button>
            <a href="/staffvModules/uniRole/" class="btn btn-primary">Return to uniRole List</a>
        </form>
    </div>
</div>