{% include 'common/header.html' %}
{% include 'common/nav.html' %}

<div class="main-content">
    <div class="container my-3">
        <div class="row">
            <div class="col">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Search by name" aria-label="Search"
                        id="searchInput">
                    <button class="btn btn-outline-secondary" type="button" id="searchButton">Search</button>&nbsp;
                    <a href="/user/logs/0" class="btn btn-secondary">Logs</a>&nbsp;
                    <a href="/user/add" class="btn btn-primary">Add Account</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Permission</th>
                            <th scope="col">Logged In</th>
                            <th scope="col">Operation</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in page_obj %}
                        <tr>
                            <th scope="row">{{user.id}}</th>
                            <td>{{user.user_name}}</td>
                            <td> {% if user.permission_id == 1 %}
                                Manager
                                {% elif user.permission_id == 2 %}
                                Employee
                                {% elif user.permission_id == 3 %}
                                IT Administrator
                                {% else %}
                                number
                                {% endif %}
                            </td>


                            {% if request.session.user_id %}
                                <td style="color: green;">Yes</td>
                            {% else %}
                                <td style="color: gray;">No</td>
                            {% endif %}
                            {% if user.permission_id == 1 %}
                            <td>
                                <a href="/user/edit/{{user.id}}" class="btn btn-primary">
                                    Edit
                                </a>
                                <a href="/user/logs/{{user.id}}" class="btn btn-secondary">
                                    Logs
                                </a>
                            </td>
                            {% else %}
                            <td>
                                <a href="/user/edit/{{user.id}}" class="btn btn-primary">
                                    Edit
                                </a>
                                <a href="#" onclick="confirmDelete(event,{{user.id}})" class="btn btn-danger">Delete</a>
                                <a href="/user/logs/{{user.id}}" class="btn btn-secondary">
                                    Logs
                                </a>
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-12 col-md-6">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-end">
                        {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if query %}&query={{ query }}{% endif %}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                            </li>
                        {% endif %}
                        
                        {% for i in page_obj.paginator.page_range %}
                            {% if page_obj.number == i %}
                                <li class="page-item active"><a class="page-link" href="?page={{ i }}{% if query %}&query={{ query }}{% endif %}">{{ i }}</a></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ i }}{% if query %}&query={{ query }}{% endif %}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        
                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if query %}&query={{ query }}{% endif %}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
        
    </div>
</div>
<script>
    function confirmDelete(event) {
        if (confirm("Are you sure you want to delete this item?")) {
            // Continue with the deletion logic here
            // For example, you can redirect to the delete URL or make an AJAX request
        } else {
            event.preventDefault(); // Prevent the default action (e.g., following the link)
        }
    }

    document.addEventListener('DOMContentLoaded', function () {
        var searchInput = document.getElementById('searchInput');
        var searchButton = document.getElementById('searchButton');
        searchButton.addEventListener('click', function () {
            var query = searchInput.value;
            var url = '/user/?query=' + encodeURIComponent(query);
            window.location.href = url;
        });
    })

    function confirmDelete(event, userId) {
        if (confirm("Are you sure want to delete this item?")) {
            window.location.href = "/user/delete/" + userId;
        } else {
            event.preventDefault();
        }
    }
</script>