{% include 'common/header.html' %}
{% include 'common/nav.html' %}

<div class="main-content">
    <div class="container my-3">
        <div class="row">
            <div class="col">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Operation</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr>
                            <th scope="row">{{ user.id }}</th>
                            <td>{{ user.name }}</td>
                            <td class="{% if user.is_admin %}text-success{% else %}text-primary{% endif %}">
                                {% if user.is_admin %}Administrators{% else %}General users{% endif %}
                            </td>
                            <td>
                                {% if user.name != "admin" %}
                                    {% if user.is_admin == 0 %}
                                    <a href="{% url 'set_admin' user.id %}" class="btn btn-primary">
                                    Set as Admin
                                    </a>
                                    {% else %}
                                    <a href="{% url 'set_general' user.id %}" class="btn btn-success">
                                        Set as General
                                    </a>
                                    {% endif %}
                                {% endif %}    
                            </td>  
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>                
            </div>
        </div>
        <div class="row my-3">
            <div class="col-12 col-md-6">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-end">
                        <li class="page-item {% if not users.has_previous %}disabled{% endif %}">
                            <a class="page-link" href="{% if users.has_previous %}?page={{ users.previous_page_number }}{% else %}#{% endif %}" tabindex="-1" aria-disabled="true">Previous</a>
                        </li>
                        {% for i in page_range %}
                        {% if users.number == i %}
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                        </li>
                        {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                        </li>
                        {% endif %}
                        {% endfor %}
                        <li class="page-item {% if not users.has_next %}disabled{% endif %}">
                            <a class="page-link" href="{% if users.has_next %}?page={{ users.next_page_number }}{% else %}#{% endif %}">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>    