{% include 'common/header.html' %}
{% include 'common/nav.html' %}

<div class="main-content">
    <div class="container my-3">
        <div class="d-flex justify-content-end mb-3">
            <a href="/user/add/" class="btn btn-primary">Add Account</a>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Permission</th>
                            <th scope="col">Logged In</th>
                            <th scope="col">Operation</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>John Doe</td>
                            <td>Manager</td>
                            <td style="color: green;">Yes</td>
                            <td>
                                <a href="/edit" class="btn btn-primary">
                                    Edit
                                </a>
                                <a href="#" class="btn btn-secondary">
                                    Logs
                                </a>
                            </td>  
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jane Smith</td>
                            <td>Employee</td>
                            <td>No</td>
                            <td>
                                <a href="/user/edit" class="btn btn-primary">
                                    Edit
                                </a>
                                <a href="#" class="btn btn-danger">
                                    Delete
                                </a>
                                <a href="#" class="btn btn-info">
                                    Permission
                                </a>
                                <a href="#" class="btn btn-secondary">
                                    Logs
                                </a>
                            </td>  
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Mike Johnson</td>
                            <td>IT Administrator</td>
                            <td style="color: green;">Yes</td>
                            <td>
                                <a href="/edit" class="btn btn-primary">
                                    Edit
                                </a>
                                <a href="#" class="btn btn-danger">
                                    Delete
                                </a>
                                <a href="#" class="btn btn-info">
                                    Permission
                                </a>
                                <a href="#" class="btn btn-secondary">
                                    Logs
                                </a>
                            </td>  
                        </tr>
                    </tbody>
                </table>                
            </div>
        </div>
        <div class="row my-3">
            <div class="col-12 col-md-6">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-end">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                        </li>
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="?page=1">1</a>
                        </li>
                        <li class="page-item disabled">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
