<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome file</title>
  <link rel="stylesheet" href="https://stackedit.io/style.css" />
</head>

<body class="stackedit">
  <div class="stackedit__left">
    <div class="stackedit__toc">
      
<ul>
<li><a href="#teachadminbalancer-users-manual">TeachAdminBalancer User’s Manual</a></li>
<li><a href="#catalogue-introduction">Catalogue Introduction</a></li>
<li><a href="#quick-guide">Quick Guide</a>
<ul>
<li><a href="#new-staff">1.New staff</a></li>
<li><a href="#edit-and-delete-staff">2.Edit and delete staff</a></li>
<li><a href="#new-basic-information-on-courses-programmes-administrative-roles-school-roles-etc.">3.New Basic information on courses, programmes, administrative roles, school roles, etc.</a></li>
<li><a href="#editing-and-deleting-basic-information-such-as-courses-programmes-administrative-roles-and-school-roles">4.Editing and deleting basic information such as courses, programmes, administrative roles and school roles</a></li>
<li><a href="#view-basic-information-about-courses-programmes-administrative-roles-and-school-roles-corresponding-staff-list">5.View basic information about courses, programmes, administrative roles and school roles Corresponding staff-list</a></li>
<li><a href="#view-and-edit-basic-information-such-as-courses-programmes-administrative-roles-and-school-roles-corresponding-large-screen-version">6.View and edit basic information such as courses, programmes, administrative roles and school roles Corresponding large screen version</a></li>
<li><a href="#bind-staff-to-courses-projects-admin-roles-and-school-roles">7.Bind staff to courses, projects, admin roles and school roles</a></li>
<li><a href="#download-totalwork-information">8.Download totalwork information</a></li>
<li><a href="#managing-user-information">9.Managing user information</a></li>
<li><a href="#viewing-user-logs">10.Viewing user logs</a></li>
<li><a href="#permission-related">11.Permission Related</a></li>
</ul>
</li>
</ul>

    </div>
  </div>
  <div class="stackedit__right">
    <div class="stackedit__html">
      <h1 id="teachadminbalancer-users-manual">TeachAdminBalancer User’s Manual</h1>
<p>This user manual is intended to familiarise users with the backend operations, and does not contain technical documentation or flowcharts.<br>
For more technical information, please see the panel report and <a href="http://readme.md">readme.md</a>.</p>
<p>Render:  <a href="https://teachadminbalancer-aberdeen.onrender.com">https://teachadminbalancer-aberdeen.onrender.com</a></p>
<p>UserName: <strong>admin</strong><br>
PassWord: <strong>123</strong></p>
<h1 id="catalogue-introduction">Catalogue Introduction</h1>
<ol>
<li>
<p><strong>StaffvModules</strong><br>
“StaffvModules” is a module for managing basic information about courses, programmes, administrative roles and school roles. The module provides a list of staff associated with each piece of information, as well as all the “HS” shared statistics associated with the staff member. In addition, “StaffvModules” provides a full-screen mode, which can be accessed with a double-click to easily modify basic information.</p>
</li>
<li>
<p><strong>Staff</strong><br>
“Staff” is a module used to maintain basic information about faculty and staff. It not only provides a comprehensive overview of staff information, but also allows users to associate and bind specific staff members to courses, programmes, administrative roles and school roles.</p>
</li>
<li>
<p><strong>TotalWork</strong><br>
The TotalWork module provides a comprehensive display of staff workload distribution and availability. All information displayed is based on real-time data from the system database.</p>
</li>
<li>
<p><strong>Course Infomation</strong><br>
Visit the Course Information page to view a table containing details of various courses. The table displays the course categories and their corresponding parameter matches such as alpha, beta, and other relevant details.</p>
</li>
<li>
<p><strong>User Management</strong><br>
The user management module enables comprehensive management of users. It allows users to perform search queries and can view a user’s recent activity history. In addition, the module provides functions such as adding new users, viewing the activity history of a specific user, editing user information, deleting users, and modifying user access rights, which ensures precise control of user information and user rights and meets diversified management needs.</p>
</li>
<li>
<p><strong>Setting</strong><br>
User settings module, you can set the default permissions for the back-office administrator roles of Manager, Employee and IT Administrator.</p>
</li>
</ol>
<h1 id="quick-guide">Quick Guide</h1>
<h2 id="new-staff">1.New staff</h2>
<p>Click on “add” in the upper right corner.<br>
<img src="https://github.com/wangleiz166/studyInAberdeen/blob/main/%E5%BE%AE%E4%BF%A1%E6%88%AA%E5%9B%BE_20230724033943.png?raw=true" alt="enter image description here"></p>
<h2 id="edit-and-delete-staff">2.Edit and delete staff</h2>
<p><img src="https://github.com/wangleiz166/studyInAberdeen/blob/main/3.png?raw=true" alt="enter image description here"></p>
<h2 id="new-basic-information-on-courses-programmes-administrative-roles-school-roles-etc.">3.New Basic information on courses, programmes, administrative roles, school roles, etc.</h2>
<p>Click on “add” in the upper right corner.<br>
<img src="https://github.com/wangleiz166/studyInAberdeen/blob/main/20230724034529.png?raw=true" alt="enter image description here"></p>
<h2 id="editing-and-deleting-basic-information-such-as-courses-programmes-administrative-roles-and-school-roles">4.Editing and deleting basic information such as courses, programmes, administrative roles and school roles</h2>
<p><img src="https://github.com/wangleiz166/studyInAberdeen/blob/main/4.png?raw=true" alt="enter image description here"></p>
<h2 id="view-basic-information-about-courses-programmes-administrative-roles-and-school-roles-corresponding-staff-list">5.View basic information about courses, programmes, administrative roles and school roles Corresponding staff-list</h2>
<p><img src="https://github.com/wangleiz166/studyInAberdeen/blob/main/5.png?raw=true" alt="enter image description here"></p>
<h2 id="view-and-edit-basic-information-such-as-courses-programmes-administrative-roles-and-school-roles-corresponding-large-screen-version">6.View and edit basic information such as courses, programmes, administrative roles and school roles Corresponding large screen version</h2>
<p>6.1 View the corresponding large screen version<br>
<img src="https://github.com/wangleiz166/studyInAberdeen/blob/main/6.png?raw=true" alt="enter image description here"><br>
6.2 Double-click on the grid to edit it and save it<br>
<img src="https://github.com/wangleiz166/studyInAberdeen/blob/main/7.png?raw=true" alt="enter image description here"><br>
6.3 Save Success Tip<br>
<img src="https://github.com/wangleiz166/studyInAberdeen/blob/main/8.png?raw=true" alt="enter image description here"></p>
<h2 id="bind-staff-to-courses-projects-admin-roles-and-school-roles">7.Bind staff to courses, projects, admin roles and school roles</h2>
<p>7.1 In the staff module, click on the person’s name<br>
<img src="https://github.com/wangleiz166/studyInAberdeen/blob/main/9.png?raw=true" alt="enter image description here"></p>
<p>7.2 Click “add new one” to add a new row of data, please fill in the code correctly.<br>
<img src="https://github.com/wangleiz166/studyInAberdeen/blob/main/10.png?raw=true" alt="enter image description here"></p>
<p>7.3 Total hours is automatically generated according to the formula<br>
<code>Total_hours = credits * (alpha * delta + beta * numStudents) * share + coordinator</code><br>
”remove“ will remove a line<br>
<img src="https://github.com/wangleiz166/studyInAberdeen/blob/main/11.png?raw=true" alt="enter image description here"></p>
<p>7.4 Click “save” to save the binding information successfully<br>
<img src="https://github.com/wangleiz166/studyInAberdeen/blob/main/12.png?raw=true" alt="enter image description here"></p>
<p>7.5 Total summary information</p>
<pre><code>   1.Total hours permitted = staff Details of "Adjusted Max"
    
   2.Total hours allocated = course total hours + project total hours + admin role total hours + school total hours + uni total hours
    
   3.Total left = Total hours permitted - Total hours allocated**
    
   4.Total_hours = credits * (alpha * delta + beta * numStudents) * share + coordinator
</code></pre>
<p><img src="https://github.com/wangleiz166/studyInAberdeen/blob/main/13.png?raw=true" alt="enter image description here"></p>
<h2 id="download-totalwork-information">8.Download totalwork information</h2>
<p><img src="https://github.com/wangleiz166/studyInAberdeen/blob/main/14.png?raw=true" alt="enter image description here"></p>
<p><img src="https://github.com/wangleiz166/studyInAberdeen/blob/main/20.png?raw=true" alt="enter image description here"></p>
<h2 id="managing-user-information">9.Managing user information</h2>
<p><img src="https://github.com/wangleiz166/studyInAberdeen/blob/main/15.png?raw=true" alt="enter image description here"></p>
<h2 id="viewing-user-logs">10.Viewing user logs</h2>
<p><img src="https://github.com/wangleiz166/studyInAberdeen/blob/main/16.png?raw=true" alt="enter image description here"></p>
<p>The log contains information such as staff_id, operation log, etc.<br>
<img src="https://github.com/wangleiz166/studyInAberdeen/blob/main/17.png?raw=true" alt="enter image description here"></p>
<h2 id="permission-related">11.Permission Related</h2>
<p>Default permissions for each role can be edited in the setting module<br>
<img src="https://github.com/wangleiz166/studyInAberdeen/blob/main/18.png?raw=true" alt="enter image description here"></p>
<p>Take the test account as an example, if you don’t have permission, you will get the following page<br>
<img src="https://github.com/wangleiz166/studyInAberdeen/blob/main/19.png?raw=true" alt="enter image description here"></p>

    </div>
  </div>
</body>

</html>
