{% include 'common/header.html' %}
{% include 'common/nav.html' %}

<div class="main-content">
    <div class="container my-3">
        <div class="row">
            <div class="col">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Operation</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Menu List</td>
                            <td>
                                <a href="/setting/menu" class="btn btn-primary">
                                    Edit
                                </a>
                            </td>    
                        </tr>
                        <tr>
                            <td>manager permissions</td>
                            <td>
                                <a href="/setting/permission" class="btn btn-primary">
                                    Edit
                                </a>
                            </td>    
                        </tr><tr>
                            <td>Employee permissions</td>
                            <td>
                                <a href="/setting/permission" class="btn btn-primary">
                                    Edit
                                </a>
                            </td>    
                        </tr>
                        <tr>
                            <td>IT Administrator permissions</td>
                            <td>
                                <a href="/setting/permission" class="btn btn-primary">
                                    Edit
                                </a>
                            </td>    
                        </tr>
                    </tbody>
                </table>                
            </div>
        </div>
    </div>
</div>