{% include 'common/header.html' %}
{% include 'common/nav.html' %}

<div class="main-content">
    <div class="container my-3">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header bg-dark text-white">
                        <h5 class="card-title">Settings</h5>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Operation</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Manager Permissions</td>
                                    <td>
                                        <a href="/setting/permission/Manager" class="btn btn-primary">
                                            Edit
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Employee Permissions</td>
                                    <td>
                                        <a href="/setting/permission/Employee" class="btn btn-primary">
                                            Edit
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>IT Administrator Permissions</td>
                                    <td>
                                        <a href="/setting/permission/IT Administrator" class="btn btn-primary">
                                            Edit
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .btn-primary {
        background-color: #262626;
        border-color: #262626;
    }

    .btn-primary:hover {
        background-color: #1a1a1a;
        border-color: #1a1a1a;
    }
</style>