{% include 'common/header.html' %}
{% include 'common/nav.html' %}
<style>
    .floating-window {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        padding: 20px;
        width: 400px;
        height: 300px;
        border: 1px solid #ccc;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
        z-index: 9999;
        overflow: auto;
    }

</style>
<div class="main-content">
    <div class="container my-3">
        <ul class="nav nav-tabs nav-fill" id="myTabs" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active fw-bold" href="/totalWork/" role="tab" aria-controls="courses" aria-selected="true">Courses & Projects</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link fw-bold" href="/totalWork/adminRoles/" role="tab" aria-controls="adminRoles" aria-selected="true">Admin Roles</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link fw-bold" href="/totalWork/overallCalcs/" role="tab" aria-controls="overallCalcs" aria-selected="false">Overall Calcs</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link fw-bold" href="/totalWork/frozenModules/" role="tab" aria-controls="frozenModules" aria-selected="false">Frozen Modules</a>
            </li>
        </ul>

        <div class="tab-content" id="myTabsContent">
            <div class="tab-pane fade show active" id="courses" role="tabpanel" aria-labelledby="coursesTab">
                <br>
                <div class="row">
                    <div class="col">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Search by code" aria-label="Search" id="searchInput">
                            <button class="btn btn-outline-secondary" type="button" id="searchButton">Search</button>&nbsp;
                        </div>
                    </div>
                </div>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Code</th>
                            <th>Name</th>
                            <th>Credits</th>
                            <th>Type</th>
                            <th>Num staff allocated</th>
                            <th>Core, taught, and this year</th>
                            <th>Num staff allocated</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>CS1032</td>
                            <td>Programming 1</td>
                            <td>15</td>
                            <td>Standard classroom based</td>
                            <td>10</td>
                            <td>10</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>CS1029</td>
                            <td>Modelling & Problem Solving for Computing</td>
                            <td>15</td>
                            <td>Standard classroom based</td>
                            <td>100</td>
                            <td>10</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>CS1031</td>
                            <td>Web app</td>
                            <td>15</td>
                            <td>Standard classroom based</td>
                            <td>400</td>
                            <td>10</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>CS2019</td>
                            <td>Databases and Data Management</td>
                            <td>15</td>
                            <td>Standard classroom based</td>
                            <td>200</td>
                            <td>10</td>
                            <td>10</td>
                        </tr>
                    </tbody>
                </table>
                <div class="row my-3">
                    <div class="col-12 col-md-6">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-end">
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                                </li>
                                <li class="page-item active" aria-current="page">
                                    <a class="page-link" href="?page=1">1</a>
                                </li>
                                <li class="page-item disabled">
                                    <a class="page-link" href="#">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Include the necessary JavaScript code -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script>
    // 设置默认活动选项卡
    var tabs = new bootstrap.Tab(document.getElementById('myTabs').querySelector('.nav-link.active'));
    tabs.show();
</script>