{% include 'common/header.html' %}
{% include 'common/nav.html' %}

<div class="main-content">
    <div class="container my-3">
        <div class="row">
            <div class="col">
                <div class="input-group mb-3">
                    <input type="text" class="form-control"
                        placeholder="Search by Staff Initials, First Name, or Last Name" aria-label="Search"
                        id="searchInput">
                    <button class="btn btn-outline-secondary" type="button" id="searchButton">Search</button>&nbsp;
                    <a href="/staff/add" class="btn btn-primary">Add</a>&nbsp;
                </div>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th class="w-15">Staff Initials</th>
                    <th class="w-15">First Name</th>
                    <th class="w-15">Last Name</th>
                    <th class="w-15">Cat</th>
                    <th class="w-10">ProbationYr(1-3orn.a)</th>
                    <th class="w-10">Annual Availability</th>
                    <th class="w-15">Unadjusted Max</th>
                    <th class="w-15">Adjusted Max</th>
                    <th class="w-25">Operation</th>
                </tr>
            </thead>
            <tbody>
                {% for staff in page_obj %}
                <tr>
                    <td><a href="/staffvModules/detail/{{ staff.id }}">{{ staff.initials }}</a></td>
                    <td>{{ staff.first_name }}</td>
                    <td>{{ staff.last_name }}</td>
                    <td>{{ staff.cat }}</td>
                    <td>{{ staff.probation_year }}</td>
                    <td>{{ staff.annual_availability }}</td>
                    <td>{{ staff.unadjusted_max }}</td>
                    <td>{{ staff.adjusted_max }}</td>
                    <td>
                        <a href="/staff/detail/{{ staff.id }}" class="btn btn-primary">
                            Detail
                        </a>
                        <a href="#" onclick="confirmDelete(event,{{ staff.id }})" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="row my-3">
            <div class="col-12 col-md-6">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-end">
                        {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1"
                                aria-disabled="true">Previous</a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                        </li>
                        {% endif %}

                        {% for page in page_obj.paginator.page_range %}
                        {% if page == page_obj.number %}
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                        </li>
                        {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                        </li>
                        {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#">Next</a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<script>
    function confirmDelete(event, staffId) {
        if (confirm("Are you sure you want to delete this item?")) {
            // Continue with the deletion logic here
            window.location.href = "/staff/delete/" + staffId + "/";
        } else {
            event.preventDefault(); // Prevent the default action (e.g., following the link)
        }
    }

    // Search functionality
    const searchInput = document.getElementById('searchInput');
    const searchButton = document.getElementById('searchButton');

    searchButton.addEventListener('click', () => {
        const query = searchInput.value;
        const searchParams = new URLSearchParams(window.location.search);
        searchParams.set('query', query);

        window.location.href = '/staff/?' + searchParams.toString();
    });
</script>