<style>
    .sidebar {
        height: 100%;
        width: 200px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #262626;
        margin: 0;
        padding-top: 20px;
    }

    .sidebar a {
        padding: 8px 8px 8px 16px;
        text-decoration: none;
        font-size: 16px;
        color: #ffffff;
        display: block;
        font-family: sans-serif;
        margin-top: 10px;
        /* margin-left: 10px; */
    }

    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 40px;
    }

    .downlog hr {
        border: none;
        border-top: 4px solid #000000;
        margin-top: 10px;
    }

    .sidebar a:hover::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: -4px;
        width: 4px;
        background-color: #a8dadc;
    }

    .sidebar a:hover {
        background-color: #1a1a1a;
        border-left: 4px solid #c56fd5;
    }

    .main-content {
        margin-left: 200px;
        padding: 15px;
    }

    .auth-links {
        position: absolute;
        bottom: 30px;
        width: 100%;
        border-top: 1px solid #ffffff;
        padding-top: 10px;
        text-align: left;
    }

    .auth-links a {
        color: #ffffff;
        font-size: 14px;
        font-family: sans-serif;
        display: inline-block;
        padding-left: 16px;
    }

    .auth-links a:hover {
        color: #a8dadc;
    }

    .auth-links svg {
        width: 16px;
        height: 16px;
        fill: #ffffff;
        vertical-align: middle;
    }
</style>

<div class="sidebar">
    <div class="navbar-brand d-flex align-items-center logo" href="#">
        <img src="https://www.abdn.ac.uk/global/images/layout/UoA_Primary_Logo_RGB_2018.svg?v=1537886890" alt="Logo"
            class="me-2" height="40">
    </div>
    <span class="downlog">
        <hr>
    </span>
    <a href="/user">Staff Modules</a>
    <a href="/user">Staff Management</a>
    <a href="/user">Courses Management</a>
    <a href="/user">Dash Board</a>
    <a href="/user">User Management</a>
    <a href="">Setting</a>
    <div class="auth-links">
        <hr> &nbsp; &nbsp;
        <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
            stroke-linejoin="round" class="h-4 w-4" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
            <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
            <circle cx="12" cy="7" r="4"></circle>
        </svg>
        {% if request.COOKIES.username %}
        <a href="#">{{ request.COOKIES.username }}</a><br> &nbsp; &nbsp;

        <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
            stroke-linejoin="round" class="h-4 w-4" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
            <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
            <circle cx="12" cy="7" r="4"></circle>
        </svg>
        <a href="/user/login">logout</a><br> &nbsp; &nbsp;
        {% else %}
        <a href="/user/login">Login</a><br> &nbsp; &nbsp;
        {% endif %}
    </div>

</div>