{% include 'common/header.html' %}
{% include 'common/nav.html' %}

<div class="main-content">
    <div class="container my-3">
        <div class="row">
            <div class="col-lg-6 mb-4">
                <div class="card bg-dark text-white">
                    <div class="card-body">
                        <h5 class="card-title">Course Information</h5>
                        <div class="table-responsive">
                            <table class="table table-bordered table-rounded">
                                <thead class="thead-dark">
                                    <tr>
                                        <th class="text-white">Activity</th>
                                        <th class="text-white">Alpha</th>
                                        <th class="text-white">Beta</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-white">Standard classroom based</td>
                                        <td class="text-white">4.4</td>
                                        <td class="text-white">0.15</td>
                                    </tr>
                                    <tr>
                                        <td class="text-white">Standard computer lab based</td>
                                        <td class="text-white">5.14</td>
                                        <td class="text-white">0.15</td>
                                    </tr>
                                    <tr>
                                        <td class="text-white">Standard project based</td>
                                        <td class="text-white">3.7</td>
                                        <td class="text-white">0</td>
                                    </tr>
                                    <tr>
                                        <td class="text-white">Individual project</td>
                                        <td class="text-white">0</td>
                                        <td class="text-white">0.5</td>
                                    </tr>
                                    <tr>
                                        <td class="text-white">Group project</td>
                                        <td class="text-white">0</td>
                                        <td class="text-white">0.8</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="card bg-dark text-white">
                    <div class="card-body">
                        <h5 class="card-title">Delta Mapping</h5>
                        <div class="table-responsive">
                            <table class="table table-bordered table-rounded">
                                <thead class="thead-dark">
                                    <tr>
                                        <th class="text-white">Activity</th>
                                        <th class="text-white">Delta</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-white">
                                            Existing course previously delivered
                                        </td>
                                        <td class="text-white">1</td>
                                    </tr>
                                    <tr>
                                        <td class="text-white">
                                            Established course, new to lecturer
                                        </td>
                                        <td class="text-white">2</td>
                                    </tr>
                                    <tr>
                                        <td class="text-white">
                                            Existing course, major revamp
                                        </td>
                                        <td class="text-white">3</td>
                                    </tr>
                                    <tr>
                                        <td class="text-white">
                                            New content/module
                                        </td>
                                        <td class="text-white">4</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .table-bordered {
        border: 1px solid #dee2e6;
    }

    .table-rounded {
        border-radius: 10px;
    }
</style>
